
//this parameter gives us the opportunity to limit the number of run accessions processed for testing before starting a large run
 //if it is set to zero, we process all run accessions 
params.test_maxNumRuns = 0

workDir = 'work'
publishDir = 'results'
params.results_dir = 'results'
nextflow.enable.dsl=2

singularity {
  enabled = true
}

// the queueSize parameter defines the number of jobs concurrently running in an HPC context
executor {
    name = 'slurm'
    queueSize = 30
}

log {
  level = 'trace'
}

params {
  results_dir = 'results'
  transcriptome = "$baseDir/globodera_pallida.PRJEB123.WBPS19.mRNA_transcripts.fa"
}

process {

  //this error strategy allows individual subtasks to fail without preventing the launch of others
  // individual processes can override this in their "withName" declarations
  errorStrategy = 'ignore'

  container = ''
  debug = true

  withName: 'makeTaxonIDString'{
    memory = 10.MB
    cpus = 1 
  }

  withName: 'makeMetadataFieldString'{
    memory = 10.MB
    cpus = 1 
  }

  withName: 'executeProjectQuery'{
    cpus = 1
    errorStrategy = 'retry'
    maxRetries = 3
    memory = { 500.MB * task.attempt }
  }

  withName: 'executeRunQueries'{
    memory = 50.MB
    cpus = 1 
  }

  // we limit the number of instances of this process with maxForks to prevent saturating the bandwidth with too many simultaneous downloads -- adjust this as required
  withName: 'downloadRunAccession' {
    maxForks = 5
    errorStrategy = 'retry'
    maxRetries = 3
    memory = { 500.MB * task.attempt }
    cpus = 1
  }

  withName: 'trimReads' {
    errorStrategy = 'retry'
    maxRetries = 3
    memory = { 2.GB * task.attempt }
    cpus = 8
  }
  
  withName: 'buildSalmonIndex'{
    errorStrategy = 'retry'
    maxRetries = 3
    memory = { 500.MB * task.attempt }
    cpus = 4
  }

  withName: 'quantify'{
    errorStrategy = 'retry'
    maxRetries = 3
    memory = { 1.GB * task.attempt }
    cpus = 8 
  }

}

